<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Eventos</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
</head>
<body>
    
    <div id="calendar"></div>
    <li><a href="{{ url_for('add_course') }}">Cursos</a></li>
    <a href="{{ url_for('view_tarea', course_id=1) }}" class="btn-task">Ver Tareas</a>
    <!-- Scripts de FullCalendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: '/events',  // Cargar eventos desde el backend
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                    var title = prompt('Título del evento:');
                    if (title) {
                        var eventData = {
                            title: title,
                            start: start.format(),
                            end: end.format()
                        };

                        // Enviar el evento al backend
                        $.ajax({
                            url: '/add_event',
                            method: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(eventData),
                            success: function() {
                                $('#calendar').fullCalendar('refetchEvents');
                                alert('Evento añadido con éxito');
                            }
                        });
                    }
                    $('#calendar').fullCalendar('unselect');
                }
            });
        });
    </script>
</body>
</html>
